.footer-container {
  background-color: #212731;
  height: 300px;

  .footer {
    width: 60%;
    margin: auto;
    padding-top: 50px;
    font-family: sans-serif;

    .category {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h3 {
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
      }

      .cat-link {
        margin-top: 15px;

        .link {
          display: block;
          margin-top: 15px;
          color: #b6bdc4;
          text-decoration: none;
        }
      }
    }

    .state {
      margin-top: 50px;
    }
  }
}
